@import url('https://fonts.cdnfonts.com/css/satoshi');
@import './tailwind.css';
@import "tailwindcss";
@import "tw-animate-css";
:root {
    --titlebar-height: 32px;
}
* {
  font-family: 'satoshi', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btnCursor {
  cursor: pointer;
}

.btnNotEvent {
  pointer-events: none;
}

.btnCursor:disabled {
  cursor: not-allowed !important;
}

.layout {
  /* background-color: red; */
  width: 100%;
  position: relative;
  flex: 1;
}
.navbar__container{
  overflow-y: scroll;
}
.btnW{
  width: 100%;
}


.inputTextImage{
  /* width: 240px !important; */
}
.inputTextImage2{
  width: 100px !important;
}

.test{
  color: red !important;
}

.textItalic{
  font-style: italic;
}

.settings-container {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.settings-container.settings-clicked {
    transform: scale(1.5);
    opacity: 0;
}